.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.upload-section {
  margin-bottom: 20px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 4px;
}



.error-message {
  color: red;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
}

.text-cell {
  white-space: pre-wrap; /* Mantiene los saltos de línea del texto */
  max-width: 400px;
}

.topic-badge {
  background-color: #007bff;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.9em;
}

.destacada {
    color: gold;
    font-weight: bold;
    filter: drop-shadow(0px 0px 1px black);
}
