<app-loader [loading]="DS.loading" ></app-loader>
<app-nav *ngIf="!DS.loading" [items]="DS.getAgrupadas()" [medios]="DS.getmedios()" [estadisticas]="DS.getStats()"></app-nav>
<div class="container " *ngIf="!DS.loading">

     <div
    class="row h-75 justify-content-evenly align-items-end bg-secondary text-white p-4 rounded mt-2" 
  >
    <h3 class="mb-3">Seleccione Fechas</h3>
    <div class="col-auto">
            <h5>Desde</h5>
            <div class="input-group">
                <input class="form-control" placeholder="Seleccione Fecha" name="dpDesde" [(ngModel)]="desde" ngbDatepicker #dDesde="ngbDatepicker" (click)="dDesde.toggle()">
                <button class="btn btn-outline-dark calendar" (click)="dDesde.toggle()" type="button">
                    📅
                </button>
            </div>
    </div>
    <div class="col-auto">
            <h5>Hasta</h5>
            <div class="input-group">
                <input class="form-control" placeholder="Seleccione Fecha" name="dpHasta" [(ngModel)]="hasta" ngbDatepicker #dHasta="ngbDatepicker" (click)="dHasta.toggle()" >
                <button class="btn btn-outline-dark calendar" (click)="dHasta.toggle()" type="button">
                    📅
                </button>
            </div>
    </div>
    <div class="col-auto">
           <button class="btn btn-dark" (click)="Consultar()">Consultar</button>
           <button class="btn btn-dark ms-1" (click)="exportarCSV()">Exportar CSV</button>
    </div>

  </div>

     <div class="bg-black w-100 h-100 text-white p-3 rounded text-center my-4">
        <h3 class="text-white">ESTADISTICAS 
            <span *ngIf="noticiasCategoria.length == 0 && noticiasMedio.length == 0">TOTALES</span> 
            <span *ngIf="noticiasCategoria.length > 0">DE {{categoria | uppercase}} </span>
            <span *ngIf="noticiasMedio.length > 0">DE {{medio | uppercase}} </span>
            (<span *ngIf="noticiasCategoria.length > 0">{{noticiasCategoria.length}}</span>  
            <span *ngIf="noticiasMedio.length > 0">{{noticiasMedio.length}}</span>
            <span *ngIf="noticiasCategoria.length == 0 && noticiasMedio.length == 0">{{datosAProcesar.length}}</span>  noticias)
        </h3>
    </div>

    <div class="row my-3" *ngIf="this.noticiasMedio.length == 0">
        <h3>Menciones por Medio</h3>
        <div class="col-md-8"> 
            <canvas baseChart
                [data]="barMedios"
                [options]="ChartOptions"
                [type]="pieChartType" class="z-3">
            </canvas>
        </div>
            <div class="col-md-4 mb-5 ">
            <div class="d-flex align-content-center gap-3 flex-wrap h-100">
                <button *ngFor="let item of conteoMedios | slice:0:15 ; let i = index" scope="row" role="button" type="button" class="btn btn-outline-dark position-relative" routerLink="/controlmedios/estadisticas/m/{{item.medio}}">
                    {{ item.medio }} <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">{{ item.cantidad }}</span>
                </button>
            </div>
        </div>
    </div>
     
   
      <h3>Menciones por Programa</h3>
    <div class="row my-5">
        <div class="col-md-8">
                <canvas baseChart
            [data]="barProgramas"
            [options]="ChartOptions"
            [type]="pieChartType" class="z-3">
        </canvas>
        </div>    
        <div class="col-md-4 ">
            <div class="d-flex align-content-center gap-3 flex-wrap h-100">
                <button *ngFor="let item of barProgramas?.datasets[0].data | slice:0:15 ; let i = index" scope="row" role="button" type="button" class="btn btn-outline-dark position-relative" routerLink="/controlmedios/estadisticas/m/{{barProgramas?.labels[i]}}" disabled>
                    {{ barProgramas?.labels[i] }} <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">{{ item }}</span>
                </button>
            </div>
        </div>
    </div>



    <div class="row my-5" *ngIf="this.noticiasCategoria.length == 0">
        <h3>Menciones por Tema</h3>
        <div class="col-md-8">
                <canvas baseChart
            [data]="barTopics"
            [options]="ChartOptions"
            [type]="barChartType" class="z-3">
        </canvas>
        </div>    
        <div class="col-md-4 mb-5">
            <div class="d-flex align-content-center gap-3 flex-wrap h-100">
                <button *ngFor="let item of barTopics?.datasets[0].data | slice:0:15 ; let i = index" scope="row" role="button" type="button" class="btn btn-outline-dark position-relative" routerLink="/controlmedios/estadisticas/c/{{barTopics?.labels[i]}}">
                    {{ barTopics?.labels[i] }} <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">{{ item }}</span>
                </button>
            </div>
        </div>
    </div>

        <div class="row my-5" *ngIf="this.datosAProcesar.length != 0">
        <h3>Listado de Copys</h3>
        <div class="col-md-12">
            <p *ngFor="let copy of datosAProcesar" class="m-2 lh-lg">
                {{copy.acf.sendDate}} ({{copy.acf.media}} / {{copy.acf.program}}): <b>{{copy.acf.iaResume}}</b> 
                <a href="{{copy.acf.link}}" target="_blank">
                    <span class="badge rounded-pill bg-primary m-2">Ver Nota</span>
                </a>
            </p>
            
        </div>
    </div>

</div>
