/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.resaltado{
    background-color: yellow;
    font-weight: bold;
    color: black;
    padding: 2px;
    border-radius: 3px;
}